.button {
    background-color: cornflowerblue;
    border: none;
    border-radius: 12px;
    color: white;
    padding: 2px 20px;
    text-align: center;
    text-decoration: initial;
    display: inline-block;
    font-size: 12px;
    margin: 4px 2px;
    cursor: pointer;
}
th, td {
    text-align: left;
    padding: 8px;
}
.tr:nth-child(even) {background-color: #f2f2f2;}